@import "tailwindcss";

@theme {
  --animate-appear-from-left: appear-from-left 2s ease-in-out;

  @keyframes appear-from-left {
    0% {
      transform: translate(-5rem);
      opacity: 0%;
    }
    100% {
      transform: translate(0);
      opacity: 100%;
    }
  }
}

@theme {
  --animate-appear-from-right: appear-from-right 2s ease-in-out;

  @keyframes appear-from-right {
    0% {
      transform: translate(5rem);
      opacity: 0%;
    }
    100% {
      transform: translate(0);
      opacity: 100%;
    }
  }
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;

    @variant dark {
      @apply bg-neutral-950 text-white;
    }
  }
}

@layer components {
  div#root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }
}
